@import url(//db.onlinewebfonts.com/c/bb086e91f19974889fbf7cbed115a360?family=GalaW01-CondensedMedium);
body.body {
  border: 0px 0px;
  background-color: #EBF8FF;
}

h5.header-font, h1.header-font {
  font-family: "GalaW01-CondensedMedium";
  font-size: 48px;
  color: #3f51b5
}

.dashboard-font {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-font.username {
  font-size: 35px;
  color: #63B3ED;
  text-shadow: -1px 1px 2px #3f51b5,
  1px 1px 2px #3f51b5,
  1px -1px 0px #3f51b5,
  -1px -1px 0px #3f51b5
}

.dashboard-font h5  {
  color: #3f51b5;
  font-weight: 550;
}

.header-font.create-route {
  margin: 15px 0;
}